iframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
}

#menuBTN {
	position: absolute;
	top: 0vh;
	left: 19vw;
	width: 3.5vw;
	height: 3.5vw;
	background: white;
	border: none;
	border-radius: 2px;
}

#menu{
	display: none;
	position: absolute;
	top: 3.5vw;
	left: 19vw;
	background: gray;
	border: none;
	border-radius: 2px;
}
